<!DOCTYPE html>
<html>
<head>
    <title>Quotes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Quotes</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Attributed to</th>
        <th>Text</th>
        <th>Subjects</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="quote : ${quotes}">
        <td data-th-text="${quote.id}">1</td>
        <td data-th-text="${quote.attributedTo}">Attributed to ...</td>
        <td data-th-text="${quote.text}">Text ...</td>
        <td data-th-text="${#strings.listJoin(quote.subjects,', ')}">Subjects ...</td>
    </tr>
    </tbody>
</table>
</body>
</html>
