<!DOCTYPE html>
<html>
<head>
    <title>Quotes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link data-th-href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<section class="main">
<h1>Quotes</h1>
<div data-th-with="quoteFilter=${(quoteFilters.isEmpty()) ? 'All quotes' : ('Filter(s): ' + #strings.listJoin(quoteFilters,', '))}">
    <div class="filters" data-th-text="${quoteFilter}">Quote filter ...</div>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Attributed to</th>
        <th>Text</th>
        <th>Subjects</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="quote,rowStat : ${quotes}">
        <td data-th-text="${quote.id}">1</td>
        <td data-th-text="${quote.attributedTo}">Attributed to ...</td>
        <td data-th-text="${quote.text}">Text ...</td>
        <td data-th-text="${#strings.listJoin(quote.subjects,', ')}">Subjects ...</td>
    </tr>
    </tbody>
</table>
</section>
</body>
</html>
